/*.font-link {*/
/*  font-family: 'Roboto Condensed', sans-serif;*/
/*}*/

/*.App {*/
/*  text-align: center;*/
/*}*/

/*.sliderimg{*/
/*  width: 100%;*/
/*  height: 500px;*/
/*  object-fit: scale-down;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
}

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/

/*}*/

/*!*------------faq-----------*!*/
/*.App .content {*/
/*  min-height: calc(100vh - 150px);*/
/*  max-width: 500px;*/
/*  margin: 5rem auto 0 auto;*/
/*  padding: 0 1rem;*/
/*}*/

/*.App .content .app-description {*/
/*  text-align: center;*/
/*}*/

/*.App .content .app-description p {*/
/*  line-height: 1.75rem;*/
/*}*/

/*.footer {*/
/*  text-align: center;*/
/*  height: 50px;*/
/*}*/

/*.footer a {*/
/*  color: #DFBD85;*/
/*}*/

.App {
  text-align: center;
}

.sliderimg{
  width: 100%;
  height: 500px;
  object-fit: scale-down;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

/*footer*/
body {
  margin: 0;
  padding: 0;
  height:1000px;
}
.App{
  color: #444444;
  text-align: center;
}
.footer {
  background-color: whitesmoke;
  border-top:1px darkgrey;
  position: static;
  width: 100%;
  bottom: 100px;
  height: auto;
  color: #444444;
  font-size: 25px;
}

/*boorje*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



